@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

.project-style{
    border:6px solid green;
    border-radius:10px;
}
.img-style{
    width:96%;
    border-radius:5px;
}
.heading-style{
    color:rgb(30, 158, 197);
    font-family: 'Montserrat', sans-serif;
    font-size:45px;  
}